@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
body {
	background-color: #efefef;
}

/* .faux-website-container {
	width: 100%;
	background-color: #fff;
	min-height: 100vh;
}

.faux-website-container .container {
	width: 100%;
}

.instrCont {
	margin-bottom: 20px;
}

.instrCont h1 {
	text-align: center;
}

.instrCont h4 {
	margin-top: 4px;
	text-decoration: underline;
}

.instrCont select,
.instrCont select option,
.instrCont input {
	border: 1px solid #ddd;
	padding: 8px;
}

.instrCont .wide {
	width: 100%;
	max-width: 100%;
}

.instrCont textarea {
	resize: vertical;
	padding: 8px;
}

.instrCont input[type=radio],
.instrCont label {
	display: inline;
}

.optCont {
	display: table;
}

.optCont .opt-cell.rightAlign {
	text-align: right;
}

.optCont .opt-cell.cntr {
	text-align: center;
}

.optCont span.showinghide {
	font-size: 200%;
	display: none;
}

.optCont:first-of-type {
	border-right: 2px solid #aaa;
}

.optCont .opt-row {
	display: table-row;
}

.optCont .opt-cell {
	display: table-cell;
	padding: 4px;
	vertical-align: middle;
}

.optCont .opt-cell.clabel {
	font-weight: bold;
}

.optCont .opt-cell.cheading span,
.optCont .opt-cell.clabel span {
	vertical-align: middle;
}

.optCont select[disabled],
.optCont button[disabled] {
	color: #aaa;
}

.optCont .opt-cell.disabled {
	color: #aaa;
}

.optCont span.help {
	cursor: pointer;
	font-size: 150%;
	margin-top: -3px;
	margin-left: 6px;
} */

.input-group.notfound:after {
	content: "\e014";
	font-family: "Glyphicons Halflings";
	position: absolute;
	top: 6px;
	right: 6px;
	z-index: 1001;
}

.input-group.found:after {
	content: "\e013";
	font-family: "Glyphicons Halflings";
	position: absolute;
	top: 6px;
	right: 6px;
	z-index: 1001;
}

.noSeeCode {
	display: none;
}

.modal textarea {
	width: 100%;
	height: 300px;
}

/* Website specific CSS */

section.pyh-ad-outer {
	margin: 0;
	padding-left: initial;
	padding-right:initial
}

.py-shadow-b {
	box-shadow: 0 12px 9px -9px #aaa;
}

section.pyh-ad-outer.no-gap {
 margin: 2px 0 0 0;
}

.adMove {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(0px 0px 99.9% 99.9%);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
}

/* @media screen and (min-width:992px) {
	.faux-website-container {
		width: 992px;
		margin: 0 auto;
	}
}

@media screen and (max-width:991px) {
	.optCont:first-of-type {
		border-right: none;
	}
	.optCont:last-of-type h4 {
		margin-top: 20px;
	}
	.optCont .opt-row.chide {
		display: none;
	}
	.optCont span.showinghide {
		display: inline;
	}
}

@media screen and (max-width:575px) {
	.faux-website-container .container {
		padding: 0;
	}
} */

/* START */
/* section.section-offer {
	position: relative;
	width: 100%;
}

section.section-offer h2 {
	margin: 0;
}

section.section-offer img {
	height: auto;
	width: 100%;
}

@media screen and (min-width:576px) {
	section.py-shadow-b-lrg {
		box-shadow: 0 12px 9px -9px #aaa;
	}
}

@media screen and (max-width:575px) {
	section.py-shadow-b-sml {
		box-shadow: 0 12px 9px -9px #aaa;
	}
} */

/* nc styles */

section.section-offer {
	position: relative;
	width: auto;
}

#mlTen {
	font-family: 'Roboto Condensed', sans-serif;
}

#mlTen h5{
	font-weight:700;
}

#mlTen label {
	font-weight:400;
}

#mlTen hr{
	height: 0px;
    border: 1px transparent solid;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.125);
}

#mlTen fieldset {
	border-style: groove;
	border-color: threedface;
	border-image: initial;
	/* padding: .35em .625em .75em; */
    border: 1px solid silver;
}

legend {
	border-bottom:none;
	padding: 2rem 2rem 0 2rem;
	margin-bottom:0;
}

#mlTen ::placeholder {
	opacity:0.5;
}

.error {
	border:1px solid red;
}

.error:focus {
	outline-color:red;
}

.required {
	color:red;
}

.input-group-addon1 {
	background-color:rgb(238, 238, 238);
border-bottom-color:rgb(204, 204, 204);
border-bottom-left-radius:4px;
border-bottom-right-radius:0px;
border-bottom-style:1px solid;
border-bottom-width:1px;
border-collapse:separate;
border-image-outset:0;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(204, 204, 204);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgb(85, 85, 85);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(204, 204, 204);
border-top-left-radius:4px;
border-top-right-radius:0px;
border-top-style:solid;
border-top-width:1px;
box-sizing:border-box;
display:table-cell;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:14px;
font-weight:400;
height:34px;
line-height:14px;
padding-bottom:6px;
padding-left:12px;
padding-right:12px;
padding-top:6px;
text-align:center;
text-size-adjust:100%;
vertical-align:middle;
white-space:nowrap;
width:59px;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="text"], input[type="number"] {
	display: table-cell;
	position: relative;
    z-index: 2;
    float: left;
    margin-bottom: 0;
	border: 1px solid #ddd;
    padding: 8px;
	display: block;
    /* width: 100%; */
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

textarea {
	border: 1px solid #ddd;
	padding: 8px;
	display: block;
	width: 100%;
	margin-bottom: 0;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
	background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-group1 .form-control:last-child {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input.bgcolor {
	display:inline-block;
	width:100%;
}
.input-group1{
	position: relative;
    display: table;
    border-collapse: separate;
}

.input-group1.notfound+.error:before {
	content: "\e209";
	font-family: "Glyphicons Halflings";
	position: absolute;
	top: 0;
    left: -10px;
	z-index: 1001;
	color:orange;
}

.input-group1.found:after {
	content: "\e013";
	font-family: "Glyphicons Halflings";
	position: absolute;
	top: 2px;
    right: 21px;
	z-index: 1001;
	color:green;
}

fieldset#breakpoints h5 {
	display:inline-block;
}

fieldset#breakpoints h5, fieldset#breakpoints h5 + span input {
	margin-right:1rem;
}

.flex-it{
	flex-direction:row;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
			flex-direction: row;
			justify-content: center;
			align-items: start;
}

.enter-text-banner.flex-it > div input {
	border-left:none;
	border-right:1px solid black;
	border-top:none;
	border-bottom:none;
}

.enter-text-banner.flex-it > div:nth-child(1) > input {
	border-left:1px solid black;
}

.enter-text-modal.flex-it{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
			flex-direction: column;
			justify-content:space-between;
}

.enter-text-modal.flex-it textarea{
	width:100%;
	max-width:100%;
	resize:vertical;
}

#modalDefs .example-modal img {
	box-shadow:5px 5px 10px rgba(0,0,0,0.25);
}

.faux-website-container {
	min-height: unset;
}
#bannerTabs [id*="tabs_"], [data-domain="bpconfig"]  {
	display:flex;
	flex-direction:column;
	justify-content: center;
}

#bannerTabs [id*="tabs_"] span.controls-add-subtract, [id*="props"] span.controls-add-subtract {
	display:flex;
	flex-direction:row;
	justify-content: flex-end;
}

#bannerTabs [id*="tabs_"] span.controls-add-subtract button, [data-domain="bpconfig"] span.controls-add-subtract button {
	opacity:0.0;
	pointer-events:none;
	transition: opacity 0.115s ease-in-out;
}

#bannerTabs [id*="tabs_"]:hover span.controls-add-subtract button, [data-domain="bpconfig"]:hover span.controls-add-subtract button {
	opacity:1.0;
	pointer-events:auto;
}

[class*="tab"] {
	width:100%;
}

.banner-tab.showing, .breakpoint-tab.showing {
	background-color:rgb(250,250,250);
	background-color:rgba(250,250,250,1.0);
	font-weight:700;
}

.text-render > div.showing{
	position:relative;
}

.text-render > div.showing:after{
	display: block;
    content: '\00a0';
    font-size: 1px;
    box-shadow: 0px 6px 6px rgba(0,0,0,0.25);
    position: absolute;
    bottom: 0px;
    height: 100%;
    left: 0;
    width: 100%;
}

.banner-properties, .content .input {
	display:none;
}

#msgBox.full-width .modal-dialog {
	width:100%;
}

@media screen and (min-width:992px) {
	.faux-website-container {
		width: auto;
		margin: 0 auto;
	}
}

#mlTen h3, h4, h5 {
	font-weight:500;
}

#mlTen h2 {
	font-weight:700;
}

:disabled {
	opacity:0.5;
}

.content [data-domain="inputs"] span[data-input-index] {
	width:calc(100% - 2px);
	margin-right:2px;
}
.content [data-bp] span:last-child {
	margin-right:0px;
}

.editable {
	background-color:white;
}

.row .text-render > div{
	width:100%;
}

.row .text-render {
    display:flex;
    flex-direction: row;
    text-transform:uppercase;
}

@media all and (max-width:991px){
   .row .text-render {
    flex-direction: column;
   } 
}

/* .row .text-render .banner > div {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    width:100%;
	cursor:pointer;
	align-items: center;
} */

.row .text-render .banner [data-bp="mobile"]{
    display:none;
}

@media all and (max-width:992px){
    .row .text-render .banner [data-bp="desktop"]{
        display:none;
    }
    .row .text-render .banner [data-bp="mobile"]{
        display:flex;
    }
}

/* .row .text-render .banner .text-group{
    text-align:center;
    white-space: pre;
} */

@media all and (max-width:991px){
 .modal-dialog{
    width:auto;
    margin: 30px auto;
 }   
}

.gutter{
    padding:0 2px 0 0;
}

@media all and (max-width:991px){
 .gutter{
    padding:0 0 2px 0;
} 
}

.gutter:last-child{
    display:none;
}

#modal_campaign .modal-body{
    clear:both;
}

.blink{
	animation: blink 1s infinite;
}

@keyframes blink{
	0%{opacity:0.0}
	49%{opacity:1.0}
	51%{opacity:1.0}
	100%{opacity:0.0}
}

h2 .header-visible{
	display:inline-block;
}

h2 .tab-visible{
	display:none;
}

.banner-tab, .breakpoint-tab {
	background-color: #d2d2d2;
	min-height: 26px;
}

.banner-tab .header-visible{
	display:none;
}

.banner-tab .tab-visible{
	display:inline-block;
}

.banner-tab span {
	font-size:16px;
	line-height: 20px;
    color: black;
    display: block;
	margin: 0px 4rem;
	background-color: #ebebeb;
}

#bpForm div.row:last-child {
	display: flex;
    justify-content: flex-end;
}

::placeholder{
	color:rgb(200, 200, 200);
}

.breakpoint-tab span[aria-expanded="false"]:before{
	content:'\e259';
	font-size:16px;
}

.breakpoint-tab span[aria-expanded="true"]:before{
	content:'\e260';
	font-size:16px;
}

.backgroundimg hr:last-child{
	display:none;
}

.backgroundimages [data-bp*="bg_"]{
	display:none;
}

.banner-properties.showing, .content p.showing, [id*="background_"] .row.showing {
	display:block;
}

[id*="background_"] .row.showing .row {
	display:flex;
	flex-direction:row;
	align-items:center;
}

.content .input.showing {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
			flex-direction: row;
			align-items: center;
    line-height: 100%;
}